# Exclude PyCharm configuration directory
.idea/

# Exclude the results that you may have produced in past experiments
"archive.*"
#result/
#plot_results*/

*code-workspace
.vscode

"3rdparty"
"*.pyc"
"*.so"
"log"
"__MACOSX", 