absl-py==0.11.0
ase==3.21.1
cached-property==1.5.2
chardet==4.0.0
colorama==0.4.4
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
deepdiff==5.2.1
docopt==0.6.2
#enum34==1.1.10
future==0.18.2
gitdb==4.0.5
gitpython==3.1.12
googledrivedownloader==0.4
h5py==3.2.1
idna==2.10
importlib-metadata==3.4.0
isodate==0.6.0
jinja2==3.0.0
joblib==1.0.1
jsonpickle==1.4.2
kiwisolver==1.3.1
llvmlite==0.36.0
markdown==3.3.4
markupsafe==2.0.0
matplotlib==3.4.2
mock==4.0.3
mpyq==0.2.5
munch==2.5.0
networkx==2.5.1
numba==0.53.1
numpy==1.19.5
ordered-set==4.0.2
packaging==20.8
pandas==1.1.5
pillow==8.1.0
portpicker==1.3.1
protobuf==3.14.0
py-cpuinfo==7.0.0
pygame==2.0.1
pyparsing==2.4.7
pysc2==3.0.0
python-dateutil==2.8.1
python-louvain==0.15
pytz==2020.5
pyyaml==5.3.1
rdflib==5.0.0
requests==2.25.1
s2clientprotocol==5.0.5.82893.0
s2protocol==5.0.5.82893.0
sacred==0.8.2
scikit-learn==0.24.2
scipy==1.7.0
six==1.15.0
sk-video==1.1.10
#smac==1.0.0
git+https://github.com/oxwhirl/smac.git
smmap==3.0.4
tensorboard==1.10.0
tensorboard-logger==0.1.0
threadpoolctl==2.1.0
torch==1.7.1
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.2
websocket-client==0.57.0
werkzeug==2.0.0
whichcraft==0.6.1
wrapt==1.12.1
zipp==3.4.0
